<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        <title>Login</title>

        <link rel="stylesheet" href="../style.css">
    </head>

    <body bgcolor="#F8F9F9 ">

        <form> 
            <img src="../emp.jpeg" alt="employee icon" width="192" height="130">
     
                <div class="container" align = "Center">
                    <p><b>User has been logged out successfuly!</b></p>
                    <p>To login again... <a href="userlogin">Click here</a></p>
                </div>
        </form>
    </body>
</html>